{% extends 'base.html' %}
{% load static %}
<style>

</style>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
<!--                <img src="{% static '/images/logo.svg' %}" class="App-logo" alt="logo" />-->
                <p style="color:green; font-size: 20px;">
                    This is the place where you can register your daily dose of milk intake and come to know
                    how much you have to pay at the end of the month. Don't worry you don't have to pay anything,
                    this is a free site for everyone. Just register and you are good to go.
                </p><br/><br/>
            </div>
        </div>
    </div>
{% endblock %}