{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="form">
				<div class="col-6 col-md-12">
					<h2 style="color: white;">Please Register</h2>
					<form method="post">
						{% csrf_token %}
						 {% bootstrap_form form %}
						{% buttons %}
							<button type="submit" class="btn btn-outline-primary">Register</button>
						{% endbuttons %}
						<p style="color:white;">
							Already have an account
							<a href="{% url 'account:login' %}">
								<span style="color:green;">Login</span>
							</a>
						</p>
						{% for field in form %}
						  <p>
							{% for error in field.errors %}
							  <p style="color: red">{{ error }}</p>
							{% endfor %}

  						{% endfor %}
						  {% if form.non_field_errors %}
							<div style="color: red">
							  <p>{% bootstrap_form form.non_field_errors %}</p>
							</div>
						  {% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}