<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.svg' %}" />
    <title>Milk logger</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static '/css/navbar-top-fixed.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Milk logger</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'loggingDailyData:create' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'loggingDailyData:create' %}">Create</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'loggingDailyData:daily_total' %}">Daily Total</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'loggingDailyData:monthly_total' %}">Monthly Total</a>
          </li>
        </ul>
          <ul class="navbar-nav my-2 my-md-0 mr-md-3">
              <li>
                <p class="m-auto" style="color:white;">Hello, {{request.user.name}}</p>
              </li>
          </ul>
          <ul class="navbar-nav my-2 my-md-0 mr-md-3">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'account:logout' %}">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
              </a>
            </li>
        </ul>

          {% else %}
          <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav my-2 my-md-0 mr-md-3">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'account:register' %}">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
              </a>
            </li>
        </ul>
          <ul class="navbar-nav my-2 my-md-0 mr-md-3">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'account:login' %}">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
              </a>
            </li>
        </ul>
      </div>
        {% endif %}
    </nav><br/>
    {% block content %}
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static '/js/main.js' %}"></script>
  </body>
</html>
